*{
  margin: 0;
  padding: 0;
  font-family: montserrat,sans-serif;
}
#parent{
    border: 3px solid red;
    height: 3000px;
}
#navbar{
  
  height: 150px;
  position: sticky;
  top: 0;
  background-color: white;
}
#one{
  
  height: 30px;
  background-color: rgb(238,238,238);
}
#onesemi{
  width: 90%;
  margin: auto;
 
  height: 30px;
  display: flex;
  justify-content: space-between;
  color: rgb(102, 103, 109);
}
#two{
  
  height: 50px;
  width: 90%;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}
#three{
  
  height: 65px;
  width: 73%;
  margin: auto;
  
}
#semiflex{
  
  font-size: 12px;
  width: 300px;
  justify-content: space-evenly;
  display: flex;
  margin-top: 10px;
 
}
#semiflex2{
  
  font-size: 12px;
  width: 200px;
  justify-content: space-evenly;
  display: flex;
 margin-top: 10px;
 
}
#twoleft{
 
  width: 300px;
 margin-right: 310px;
  margin-top: 10px;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#image{
  
  
  background-repeat: no-repeat;
  height: 50px;
  width: 180px;
}
#tworight{
  margin-right: 180px;
  

}
.line{
  width: 1px;
  height: 24px;
  background-color: black;
  margin-top: -28px;
  margin-left: 315px;
}
.login{
  margin-left: 30px;
  margin-top: 6px;
  display: flex;
  
}
.threeclass{
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  font-weight: 300;
}
#photo{
  
  height: 515px;
  display: flex;
  justify-content: space-between;
  
}
#smallphoto{
  border: 1px solid red;
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}
#smallname{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 100px;
  margin-top: 20PX;
}
.banner{
  border: 1px solid red;
  width: 100%;
  height: 152px;
  margin-top: 50px;
}
#week{
  display: flex;
  border: 1px solid red;
  width: 100%;
  height: 410px;
}
#split{
  border: 1px solid red;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
}
#splittwo{
  border: 1px solid red;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}